@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --font-first: "Montserrat", sans-serif;
  --font-second: "Edu NSW ACT Cursive", cursive;
}

.max-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav-bar {
  border-bottom: 1px solid #bcbcbc;
  background-color: #EAD9CE;
}
.nav-bar .navegation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.nav-bar .navegation nav {
  display: flex;
  gap: 20px;
}
.nav-bar .navegation nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-bar .navegation nav ul li a {
  text-decoration: none;
  color: #000;
  font-family: var(--font-first);
}
.nav-bar .navegation h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  font-family: var(--font-first);
  text-transform: uppercase;
}
.nav-bar .navegation div ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-bar .navegation div ul a {
  color: #000;
  text-decoration: none;
  font-family: var(--font-first);
}
.nav-bar .navegation div ul a li img {
  width: 24px;
  height: 24px;
}
.nav-bar .navegation div ul a li .img_border {
  border: 0px 3px 3px 0px solid #000;
}

.container-first-section {
  background-color: #EAD9CE;
  position: relative;
}
.container-first-section .max-width {
  padding: 2rem 0;
}
.container-first-section .max-width .first-section {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}
.container-first-section .max-width .first-section .container-left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-first-section .max-width .first-section .container-left h2 {
  font-family: var(--font-first);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.container-first-section .max-width .first-section .container-left p {
  font-family: var(--font-second);
  font-size: 1rem;
  margin: 1.5rem 0;
}
.container-first-section .max-width .first-section .container-left .link-button {
  background-color: #b07b54;
  color: #ead9ce;
  border: none;
  border-radius: 0 40px 40px 0;
  padding: 10px 20px;
  font-family: var(--font-first);
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-first-section .max-width .first-section .container-rigth {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: static;
}
.container-first-section .max-width .first-section .container-rigth div {
  width: 100%;
  height: 100%;
}
.container-first-section .max-width .first-section .container-rigth div .img-banner {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-height: 75vh;
  width: auto;
  z-index: 0;
}

.container-second-section {
  background-color: white;
  padding: 2rem 0;
}
.container-second-section .max-width .second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;
}
.container-second-section .max-width .second-section .container_cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}
.container-second-section .max-width .second-section .container_cards .card {
  width: 300px;
  height: 300px;
  position: relative;
  box-sizing: border-box;
}
.container-second-section .max-width .second-section .container_cards .card img {
  width: 100%;
  height: 100%;
}
.container-second-section .max-width .second-section .container_cards .card a {
  text-decoration: none;
  background-color: #b07b54;
  color: #ead9ce;
  border: none;
  border-radius: 0 40px 40px 0;
  padding: 10px 20px;
  font-family: var(--font-first);
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 1rem;
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 10px 40px;
}
.container-second-section .max-width h2 {
  font-family: var(--font-first);
  font-size: 2rem;
  color: #EAD9CE;
  text-transform: uppercase;
  margin: 1.5em 0;
}

.container-third-section {
  background-color: #EAD9CE;
  padding: 2rem 0;
}
.container-third-section .max-width .third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-third-section .max-width .third-section h2 {
  font-family: var(--font-first);
  font-size: 2rem;
  color: #EAD9CE;
  text-transform: uppercase;
  margin: 1.5em 0;
  color: #000;
}
.container-third-section .max-width .third-section p {
  font-family: var(--font-first);
  font-size: 1.2rem;
  margin: 1.5rem 0;
  text-align: justify;
}

.container-four-section {
  background-color: white;
  padding: 2rem 0;
}
.container-four-section .max-width .four-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container-four-section .max-width .four-section h2 {
  font-family: var(--font-first);
  font-size: 2rem;
  color: #EAD9CE;
  text-transform: uppercase;
  margin: 1.5em 0;
}
.container-four-section .max-width .four-section .bestSellers-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container-four-section .max-width .four-section .bestSellers-cards .left-cards, .container-four-section .max-width .four-section .bestSellers-cards .rigth-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem 0;
}
.container-four-section .max-width .four-section .bestSellers-cards .left-cards .card, .container-four-section .max-width .four-section .bestSellers-cards .rigth-cards .card {
  width: 300px;
  height: 400px;
  margin: 1rem;
  text-align: left;
}
.container-four-section .max-width .four-section .bestSellers-cards .left-cards .card h3, .container-four-section .max-width .four-section .bestSellers-cards .rigth-cards .card h3 {
  font-family: var(--font-first);
  font-size: 1rem;
  margin: 0.5rem 0;
}
.container-four-section .max-width .four-section .bestSellers-cards .left-cards .card p, .container-four-section .max-width .four-section .bestSellers-cards .rigth-cards .card p {
  font-family: var(--font-second);
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.container-four-section .max-width .four-section .bestSellers-cards .left-cards .card img, .container-four-section .max-width .four-section .bestSellers-cards .rigth-cards .card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.container-four-section .max-width .four-section .bestSellers-cards .rigth-cards {
  width: 100%;
  justify-content: flex-end;
}

.container-five-section {
  background-color: #EAD9CE;
  position: relative;
}
.container-five-section .max-width .five-section {
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
}
.container-five-section .max-width .five-section .img-left {
  align-items: center;
  display: flex;
  width: 50%;
  height: 100%;
}
.container-five-section .max-width .five-section .img-left .img-banner {
  width: 100%;
  height: 100%;
}
.container-five-section .max-width .five-section .img-left .img-banner img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 100%;
}
.container-five-section .max-width .five-section .text-rigth {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-five-section .max-width .five-section .text-rigth h3 {
  font-family: var(--font-first);
  font-size: 2rem;
  color: #EAD9CE;
  text-transform: uppercase;
  margin: 1.5em 0;
  color: #000;
}
.container-five-section .max-width .five-section .text-rigth p {
  font-family: var(--font-first);
}
.container-five-section .max-width .five-section .text-rigth a {
  margin: 4em 0;
}

.button-inverter {
  display: flex;
  justify-content: flex-end;
}
.button-inverter a {
  background-color: #b07b54;
  color: #ead9ce;
  border: none;
  border-radius: 0 40px 40px 0;
  padding: 10px 20px;
  font-family: var(--font-first);
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  width: 150px;
  text-align: center;
  border-radius: 40px 0 0 40px;
}

.container-six-section .max-width .six-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-six-section .max-width .six-section .container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.container-six-section .max-width .six-section .container-text h2 {
  font-family: var(--font-first);
  font-size: 2rem;
  color: #EAD9CE;
  text-transform: uppercase;
  margin: 1.5em 0;
  color: #000;
}
.container-six-section .max-width .six-section .container-text p {
  font-family: var(--font-first);
  max-width: 60%;
  text-align: center;
}
.container-six-section .max-width .six-section .container-card-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.container-six-section .max-width .six-section .container-card-img .card-img {
  width: 250px;
  height: 350px;
  position: relative;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.container-six-section .max-width .six-section .container-card-img .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-six-section .max-width .six-section .button-inverter-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2rem;
}
.container-six-section .max-width .six-section .button-inverter-container .button-inverter {
  background-color: #b07b54;
  color: #ead9ce;
  border: none;
  border-radius: 0 40px 40px 0;
  padding: 10px 20px;
  font-family: var(--font-first);
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  justify-content: center;
  border-radius: 40px 0 0 40px;
}

.container-seven-section {
  background-color: #EAD9CE;
  position: relative;
  margin: 3rem 0;
}
.container-seven-section .max-width .seven-section {
  height: 600px;
  display: flex;
  align-items: center;
}
.container-seven-section .max-width .seven-section .container-left {
  width: 60%;
}
.container-seven-section .max-width .seven-section .container-left h2 {
  font-family: var(--font-first);
  font-size: 2rem;
  color: #EAD9CE;
  text-transform: uppercase;
  margin: 1.5em 0;
  color: #000;
}
.container-seven-section .max-width .seven-section .container-left p {
  font-family: var(--font-first);
  font-size: 1.2rem;
}
.container-seven-section .max-width .seven-section .container-left .button {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}
.container-seven-section .max-width .seven-section .container-left .button a {
  background-color: #b07b54;
  color: #ead9ce;
  border: none;
  border-radius: 0 40px 40px 0;
  padding: 10px 20px;
  font-family: var(--font-first);
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: center;
}
.container-seven-section .max-width .seven-section .container-rigth .img-banner {
  height: 100%;
}
.container-seven-section .max-width .seven-section .container-rigth .img-banner img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 100%;
  z-index: 0;
}

.container-eigth-section .max-width .eigth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-eigth-section .max-width .eigth-section h2 {
  font-family: var(--font-first);
  font-size: 2rem;
  color: #EAD9CE;
  text-transform: uppercase;
  margin: 1.5em 0;
  color: #000;
  margin: 1rem 0;
}
.container-eigth-section .max-width .eigth-section p {
  font-family: var(--font-first);
  font-size: 1.2rem;
  margin: 0 0;
  text-align: justify;
}
.container-eigth-section .max-width .eigth-section .container-img {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 3rem 0;
}
.container-eigth-section .max-width .eigth-section .container-img .only-img {
  width: 250px;
  height: 250px;
  position: relative;
  box-sizing: border-box;
}
.container-eigth-section .max-width .eigth-section .container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
